   /* Default Styles (Light Mode) */
   body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease, all 0.5s ease; /* Smooth transition for color changes */
}

body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode h1 {
    color:#1A73E8; /* Headings color in light mode */
}
body.light-mode h2{
    color: #1A73E8;
}
body.light-mode h3{
    color: black;
}
body.light-mode h4{
    color: black;
}
body.light-mode h5{
    color: black;
}
body.light-mode h6{
    color: black;
}
body.light-mode p{
    color: black;
}
/* body.light-mode p:hover{
    color: green; 
} */
body.light-mode .hover-text{
    color: white;
    background-color:#1A73E8;
}



body.light-mode a {
    color: green; /* Links color in light mode */
    transition: color 0.3s ease; /* Smooth transition for link color on hover */
}

body.light-mode a:hover {
    color: black /* Darker green when hovering over links */
}

body.light-mode button {
    background-color: red; /* Button color in light mode */
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for button color and size */
}

body.light-mode button:hover {
    background-color: darkred; /* Dark red on button hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

body.light-mode .theme-toggle {
    margin: 20px;
    color: white; /* Visual color for light mode theme indicator */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
   /* background: rgb(33, 31, 31); */
    color: white;
}

body.dark-mode h1 {
    color: orange; /* Headings color in dark mode */
}
body.dark-mode h2{
    color: orange;
}
body.dark-mode h3{
    color: white;
}
body.dark-mode h4{
    color: white;
}
body.dark-mode h5{
    color: white;
}
body.dark-mode h6{
    color: white;
}
body.dark-mode p{
    color: white;
}
/* body.dark-mode p:hover{
    color: #eb5d10; 
} */

body.dark-mode a {
    color: pink; /* Links color in dark mode */
    transition: color 0.3s ease; /* Smooth transition for link color on hover */
}

body.dark-mode a:hover {
    color: white /* Darker pink when hovering over links */
}

body.dark-mode button {
    background-color: green;/* Button color in dark mode */
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for button color and size */
}

body.dark-mode button:hover {
    background-color: darkred; /* Dark red on button hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

body.dark-mode .theme-toggle {
    margin: 20px;
    color: white /* Visual color for dark mode theme indicator */
}
body.dark-mode .timeline-item:hover{
    border: 2px solid white;
    box-shadow: 0 8px 15px rgba(104, 101, 101, 0.5);
}
body.dark-mode .hover-text{
    color: white;
    background-color: #FF5722;
}

body.dark-mode .contact-info a:hover .contact-icon {
    color: green;                     /* 3   */
}

body.dark-mode .contact-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: green;             /*  2  */
}

body.dark-mode .modal-body ul li a {
    color: green;                 /* 1 */
    text-decoration: none;
}
body.dark-mode .modal-body{
    color: black;
}
body.dark-mode .modal-header h5{
    color: black;
   
}

body.dark-mode .modal-body p{
    color: black;
   
}

/* Smooth fade-out effect for page transitions */
body {
    animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
